@{
    ViewData["Title"] = "Home Page";
}
@model System.String;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h1>
    @base.ViewBag.User1
</h1>

<h1>
    @base.ViewData["User2"]
</h1>
<h1>
    @base.ViewData["User3"]
</h1>
<h1>
    @Model
</h1>
